// 이 scss는 각 요소 저장용 scss입니다.

/* Font Family */
$Primary-Kr-Bold: 'KimjungchulScript-Bold', sans-serif;
$Primary-Kr-Regular: 'KimjungchulScript-Regular', sans-serif;
$Primary-Kr-Light: 'KimjungchulScript-Light', sans-serif;
$Secondary-Kr-Bold: 'HappyGoheung-Bold', sans-serif;
$Secondary-Kr-Regular: 'HappyGoheung-Medium', sans-serif;
$Secondary-Kr-Light: 'HappyGoheung-Light', sans-serif;
$Pretendard-Kr-Bold: 'Pretendard-Bold', sans-serif;

/* Setting Variables : Text Color */
$dark-black: #2c2c2c; // 문서 본문 전체 텍스트 색상
$dim-black: #555555;
$silver-black: #777777;
$light-black: #999999;
$dark-gray: #BDBDBD;
$dim-gray: #DDDDDD;
$silver-gray: #EEEEEE; // 입력요소(input) 보더 색상
$light-gray: #F5F5F5;
$cloudy-gray: #F9F9F9;

/* Setting Variables : Object Color */
$footer-light-green : #99D261;
$light-green: #C2D885;
$forest-green: #85B214;
$olive-green: #779302;
$dark-green: #38761D;
$deep-green: #284327;
$footer-green : #5A7938;
$red: #C92D2D;
$orange: #F7A501;
$yellow: #F6D202;
$blue: #5089EF;
$white: #ffffff;
$black: #000000;